<section id="products">
 <% @products.each do |product| %>
 	<div class="product clearfix">
    	<a href="product-detail.html">
    	<div class="product-image-container">
     	<img src="<%= asset_path product.thumbnail_image_name %>" alt="<%= product.title %>"/>
     	<span class="product-price">$<%= product.price %></span>
   		</div>
   <p class="product-title"><%= product.title %></p></a>
 	</div>
 <% end %>
 








 <div class="product clearfix">
   <a href="product-detail.html">
    <div class="product-image-container">
     <img src="<%= asset_path 'product-copywriting.png' %>" alt="product image"/>
     <span class="product-price">$49.99</span>
   </div>
   <p class="product-title">Copywriting</p></a>
 </div>
 <div class="product clearfix">
   <a href="product-detail.html">
    <div class="product-image-container">
     <img src="<%= asset_path 'product-analytics.png' %>" alt="product image"/>
     <span class="product-price">$49.99</span>
   </div>
   <p class="product-title">Analytics</p></a>
  </div>
 </section>